/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */

		#nav a { padding:.4em; }
	
		header {
			width: 93.75%; /* 720px / 768px */
		}
		
		header h1 { font-size:3em; } 
		header h2 { font-size:2em; } 
		p.introtext { font-size:1.25em; }
		


		#maincontent{
			width: 93.75%; /* 720px / 768px */
		}

		
		.maincontent{
			width: 93.75%; /* 720px / 768px */
		}

		
		footer {
			width: 93.75%; /* 720px / 768px */
		}
		
