.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    text-align: center;
    background: url("../img/layout/bg3.png");
}
.footer a {
    color: #554140;
    text-decoration: none;
    font-weight: 400;
    font-family: "PT Serif";
    font-size: medium;
}
.footer a:hover {
    text-decoration: none;
    font-weight: 400;
    font-family: "PT Serif";
    font-size: medium;
    background: url("../img/layout/bg4.png");
    color: #D3C7C0;
    padding: 0.5em;
}

.space{
    padding: 3em;
}