.hover_container {
    width: auto;
}


.hover {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}



.hover ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: url("../img/layout/bg3.png");
}


.hover li a {
    display: block;
    color: #554140;
    padding: 12px 0;
    text-decoration: none;
    font-style: italic;
    font-family: "PT Serif";
    font-size: large;
}

.hover li a:hover {
    background: none;
    color: white;
}



.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)

}

.hover_container:hover .hover {
}

.hover_container:hover .middle {
    opacity: 1;
}

.text {
    background-image: url(../img/layout/bg4.png);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

