
.login{
}

.login ul {
}

.login li {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 160px;
    left: 60%;
    height: 60px;
    padding: 0.5em;
    text-align: center;
    background: url("../img/layout/bg3.png");
    box-shadow: 0px 2px 5px 0px #765c5b;
    border-top-left-radius: 1em;
}

.button {
    background: url("../img/layout/bg4.png");
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 1em;
}

.button:hover {
    background: url("../img/layout/bg5.png");
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 1em;
}