
.login{
}

.login ul {

}

.login li {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    left: 60%;
    height: auto;
    padding: 0.5em;
    text-align: center;
    background: url("../img/layout/bg3.png");
    box-shadow: 0px 2px 5px 0px #463434;
    border-bottom-left-radius: 1em;
}

.signup {
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.signup ul {
}

.signup li {
    padding: 1em;
}



.button:hover {
    position: relative;

    background: url("../img/layout/bg5.png");
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 1em;
}
