@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

/* My own */
body {
    background-color: #D3C7C0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    background: url("../img/layout/bg2.png");
    color: #554140;
}

/* https://www.w3schools.com/css/css_navbar.asp*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: url("../img/layout/bg3.png");
}

li p {
    display: block;
    color: #554140;
    padding: 0px 22px;
    text-decoration: none;
    font-weight: 400;
    font-family: "PT Serif", Merriweather;
    font-size: medium;
}
li a {
    display: block;
    color: #554140;
    padding: 12px 22px;
    text-decoration: none;
    font-style: italic;
    font-family: "PT Serif", Merriweather;
    font-size: large;
}


/* Change the link color on hover */
li a:hover {
    background: url("../img/layout/bg4.png");
    color: white;
}

.active {
    background-color: #8C8281;
    color: white;
}


h1 {
    font-family: "PT Serif";
    font-size: xx-large;
    font-weight: 800;
    color: #554140;
}

h2 {
    font-family: "PT Serif";
    font-size: x-large;
    font-weight: 500;
    color: #554140;
}

h3 {
    font-family: "PT Serif";
    font-size: medium;
    font-weight: 200;
    color: #725342;
}

strong {
    font-weight: 900;
}


p {
    font-family: Merriweather;
    font-style: normal;
    font-size: large;
    font-weight: 200;
    color: #554140;
}
b {
    font-family: Merriweather;
    font-style: normal;
    font-size: smaller;
    font-weight: 200;
    color: #554140;
}

.main_content_container {
    position: relative;
    margin-left: 216px;
    margin-top: 0px;
    padding-top: 1em;
    padding-right: 1em;
    width: auto;
    min-height: 500px;
}

.left_content_container {
    margin-left: 0;
    width: 200px;
}

.header-img {
    background-size: cover;
    background-position: center;
    height: 273px;
    background-image: url(../img/layout/bg_header.jpeg);
}


.filler {
    background: url("../img/layout/bg3.png");
    position: absolute;
    z-index: 0;
    left: 216px;
    top: 270px;
    right: 55%;
    padding: 0.5em;
    text-align: center;
    background: url("../img/layout/bg3.png");
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}



.darker {
    margin-top: 1em;
    background-image: url(../img/layout/bg4.png);
    padding-bottom: 1em;
    border-radius: 1em;
}

.img {
    border-radius: 1em;
}


.no_border {
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    border-image: none;
    height: 100%;
    width: 100%;
}

.button {
    position: relative;
    background: url("../img/layout/bg4.png");
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 1em;
}

.button_dark {
    position: relative;
    background: url("../img/layout/bg5.png");
    font-family: "PT Serif";
    font-style: italic;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.8em;
}
.button_dark:hover {
    position: relative;
    background: url("../img/layout/bg7.png");
    font-family: "PT Serif";
    font-style: italic;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.8em;
}


.grow {transition: all .2s ease-in-out; }

.grow:hover { transform: scale(3.1); }

.grow_a_little {transition: all .2s ease-in-out; }

.grow_a_little:hover { transform: scale(1.1); }



@media only screen and (max-width: 480px) {
    .main_content_container {
        margin-left: 0;
        margin-right: 0;
        padding-top: 1em;
        width: 100%;
    }
    .left_content_container {
        margin-left: 0;
        margin-right: 1em;
        padding-top: 1em;
        width: 100%;
    }
}